* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

body {}

.lock-scroll {
    overflow: hidden;
}

.header {
    position: relative;
    width: 100%;
    height: 80vh;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    text-align: center;
    flex-basis: 40%;
    min-width: 250px;
    /* margin: 20px 20px; */
    margin-bottom: 75px;
}

.col-2 img {
    max-width: 350px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: none;
    color: #ff00d4;
}

.title-container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.title-decor {
    margin: 20px 0;
    width: 20%;
    height: 3px;
    background: #ff00d4;
    border: 0;
}

.title {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

h1 {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

h2 {
    padding: 0 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: black;
}

h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

h5 {
    padding: 0 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

p {
    color: white;
    font-size: 13px;
}

.ratings {
    color: #003cff;
}

.box {
    background: #FFF;
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    color: black;
    background: white;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 1px;
    border: 1px solid #003cff;
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.btn:hover {
    background: #ff00d480;
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
}

.btn:focus {
    outline: none;
}

/* --------------- SLIDE SHOW--------------- */

.slider {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: absolute;
}

.slides {
    width: 500%;
    height: auto;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    min-height: 80vh;
    object-fit: cover;
}

/* --------------- SLIDE SHOW NAVIGATION BUTTONS--------------- */

.navigation-manual {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    width: 20px;
    height: 5px;
    border: 2px solid #ff00d4;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    border: 2px solid #003cff;
    background: #ff00d480;
    transform: translateY(-2px);
}

.active {
    background: #003cff80;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/* --------------- NAV MENU--------------- */

nav {
    flex: 1;
    text-align: right;
}

.navBar {
    width: 100%;
    background: rgb(0, 0, 0, 0.80);
    margin: 0;
    z-index: 10;
    position: absolute;
}

.navBar2 {
    width: 100%;
    background: black;
    margin: 0;
    z-index: 10;
    position: relative;
}

.navBar-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar-logo {
    width: 200px;
    cursor: pointer;
    transition: 0.5s;
}

.navBar-logo h3 {}

nav .menu {
    width: 80%;
    margin: 0;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar ul li {
    list-style: none;
    padding: 0 10px;
    position: relative;
}

.navBar ul li a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 1s;
}

.navBar ul li a:hover {
    color: #ff00d4;
}

.navBar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #003cff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navBar ul li:hover::after {
    width: 100%;
}

.navBar-cart-img {
    margin-top: 5px;
    margin-left: 25px;
    width: 30px;
    height: 30px;
}

.navBar-cart-img:hover {
    /* filter is used to change color of svg */
    filter: invert(42%) sepia(100%) saturate(7085%) hue-rotate(306deg) brightness(112%) contrast(124%);
}

#navCart:hover {
    filter: invert(42%) sepia(100%) saturate(7085%) hue-rotate(306deg) brightness(112%) contrast(124%);
}

/* --------------- NAV BURGER ICON--------------- */

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 20%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 27px;
    height: 2.5px;
    background: white;
    margin: 6px;
    border-radius: 0px;
    transition: all .3s ease-in-out;
}

/* --------------- FEATURE--------------- */

.feature {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.feature-col {
    flex-basis: 30%;
    margin-bottom: 40px;
}

.feature-item {
    justify-items: center;
    position: relative;
    text-align: center;
    padding: 50px 35px;
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    transition: 0.5s;
    margin: 0 20px;
}

.feature .feature-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.20), 0 2px 2px rgba(0, 0, 0, 0.20), 0 4px 4px rgba(0, 0, 0, 0.20);
}

.feature-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-bottom: 20px;
}

.feature .feature-title {
    font-size: 18px;
    color: #000;
}

.feature .feature-price {
    font-size: 18px;
    color: #ff00d4;
}

.feature .ratings {
    margin: 20px 0;
}

.feature-divider {
    margin: 20px 0px;
    width: 100%;
    height: 2px;
    background: black;
    border: 0;
}

/* --------------- FOOTER--------------- */

.footer {
    width: 100%;
    height: auto;
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer p {
    color: #ffffff;
}

.footer h3 {
    color: #003cff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    min-width: 250px;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 0 30px;
}

.footer-col-1 {
    flex: 1;
    text-align: center;
}

.footer-col-1 img {
    width: 180px;
}

.footer-title {
    margin-bottom: 20px;
}

.footer-col-2 {
    flex-basis: 30%;
    text-align: center;
}

.footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

.footer-col-3 ul {
    list-style-type: none;
    text-align: center;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 130px;
    padding: 0 10px;
}

.footer hr {
    border: none;
    background: #ff00d4;
    height: 1px;
}

.footer .copyright {
    padding-top: 10px;
    text-align: center;
}

/* --------------- ABOUT --------------- */

.about {
    width: 100%;
    min-height: 60vh;
}

.about-container {
    text-align: center;
    width: 600px;
    height: fit-content;
    margin-bottom: 50px;
}

.about-title {
    text-align: center;
    height: 10%;
    margin: auto;
    padding: 20px;
}

.about img {
    width: 75%;
    padding: 0 20px;
}

.about h2 {
    text-align: center;
    font-size: 26px;
}

.about-created-by {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.about-created-by h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.about-created-by h3 {
    color: black;
    font-size: 22px;
    font-weight: 400;
}

.about-created-by h3 a {
    color: #003cff;
}

.about-created-by h3 a:hover {
    color: #ff00d4;
}

/* --------------- LOGIN --------------- */

.login {
    width: 100%;
    min-height: 80vh;
}

.login img {
    width: 100%;
    /* min-width: 350px; */
    /* margin: 0px 20px */
}

.login-form-btn {
    display: inline-block;
}

.login-container {
    width: 300px;
    height: 360px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
    transition: 0.5s;
}

.login-container:hover {
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.login-container span {
    font-weight: bold;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.login-container form {
    max-width: fit-content;
    position: absolute;
    transition: transform 0.75s;
}

form input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 5px;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.05);
}

form input:focus {
    border: none;
    outline: 1px solid #ff00d4;
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11);
}

form .btn {
    margin-bottom: 0px;
    width: 100%;
    cursor: pointer;
}

form.btn:focus {
    outline: none;
}

#regForm {
    margin: 20px;
    left: -300px;
}

#regForm .btn {
    margin-top: 20px;
}

#loginForm {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    left: 0;
}

#loginForm .btn {
    margin-top: 50px;
}

form a {
    color: #000;
    font-weight: 500;
    font-size: 12px;
}

#login-indicator {
    width: 100px;
    height: 3px;
    border: none;
    background-color: #003cff;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/* --------------- ACCOUNT --------------- */

.account {
    width: 100%;
    min-height: 80vh;
}

.account-container {
    width: 300px;
    height: 370px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
    transition: 0.5s;
}

.account-container:hover {
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.account img {
    width: 100%;
    /* min-width: 350px; */
    /* margin: 0px 20px */
}

.account-username {
    padding-bottom: 10px;
    text-align: left;
}

.account .btn {
    margin-top: 10px;
}

#accountForm {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* --------------- MENU --------------- */
.menu {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.menu-container {
    width: 80%;
    height: auto;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
    transition: 0.5s;
}

.query-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.query-label {
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.search-button {
  padding: 0 20px;
  margin: 0 20px;
}

.category-title-container {
    display: flex;
    justify-content: flex-start;
    padding: 30px 0;
}

.category-title {
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.category-title-decor {
    margin: 20px 0;
    width: 30%;
    height: 3px;
    background: #ff00d4;
    border: 0;
}

/* --------------- MENU ITEM--------------- */

.menu-item {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.menu-item-col {
    flex-basis: 30%;
    margin-bottom: 40px;
}

.menu-item {
    justify-items: center;
    position: relative;
    text-align: center;
    padding: 15px 10px;
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    transition: 0.5s;
    margin: 0;
}

.menu .menu-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.20), 0 2px 2px rgba(0, 0, 0, 0.20), 0 4px 4px rgba(0, 0, 0, 0.20);
}

.menu-item-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding-bottom: 20px;
}

.menu-item .menu-item-title {
    font-size: 18px;
    color: #000;
}

.menu-item .menu-item-price {
    font-size: 18px;
    color: #ff00d4;
}

.menu-item .ratings {
    margin: 20px 0;
}

.menu-item-divider {
    margin: 20px 0px;
    width: 100%;
    height: 2px;
    background: black;
    border: 0;
}

.menu-item .menu-item-desc {
  color: grey;
  max-height: 50px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-- Meal --*/
.meal-image {
  width: 45%;

}

.meal-item-col {
    flex-basis: 40%;
    margin-bottom: 40px;
}

.meal-item-price {
  text-align: center;
    font-size: 18px;
    color: #ff00d4;
}

.meal-item-desc {
  color: grey;
}

/* --------------- CART--------------- */

.cart-container {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
    transition: 0.5s;
}

.cart-list-container {
    width: 700px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: scroll;
    transition: 0.5s;
}

.cart-info-container {
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
    transition: 0.5s;
}

.cart-container span {
    font-weight: bold;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.cart-container form {
    max-width: fit-content;
    position: absolute;
    transition: transform 0.75s;
}

.cart-item-title {
  font-size: 18px;
  color: #000;
}

.cart-img {
  width: 100%;
  height: 50px;
  background-size: 100% 100%;
}

.cart-item-subtext {
  color: grey;
}

.cart-col-first {
  text-align: center;
  flex-basis: 15%;
  /* margin: 20px 20px; */
}

.cart-col-second {
  width: 200px;
  text-align: center;
  flex-basis: auto;
  /* margin: 20px 20px; */
}

.cart-col-second h2 {
  padding: 1px;
  overflow:hidden;
  text-overflow: ellipsis;
}

.cart-col-second p {
  color: grey;

}

.cart-col-third {
    text-align: center;
    flex-basis: 10%;
    /* margin: 20px 20px; */
}

.cart-col-fourth {
    text-align: center;
    flex-basis: 10%;
    /* margin: 20px 20px; */
}

.cart-divider {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background: #ff00d4;
    border: 0;
}

.cart-qty-inp {
  width: 30%;
  height: 30px;
  font-size: 18px;
}

.adj {
  width: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.qty-h1 {
  padding: 0;
}

.inactive-btn {
    display: inline-block;
    color: #a6a6a6;
    background: #dbdbdb;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 1px;
    border: 1px solid #919191;
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.update-btn {
  padding: 0 10px;
}

#cartForm {
    margin: 20px;
}

#cartForm .btn {
    margin-top: 20px;
}

form .inactive-btn {
    margin-bottom: 0px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.total-row {
  margin-top: 30px;
}

/* --------------- RESPONSIVE SCREEN ADJSUTMENTS--------------- */

@media screen and (max-width: 750px) {
    .col-2 {
        flex-basis: 100%;
    }
    .about h2 {
        font-size: 24px;
    }
    .footer-col-1, .footer-col-2, .footer-col-3 {
        flex-basis: 100%;
    }
    .navBar-logo {
        float: none;
        width: 175px;
        justify-content: center;
    }
    nav .menu {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 110px;
        bottom: 100%;
        width: 100%;
        height: auto;
        flex-direction: column;
        background: black;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
    }
    .navBar .menu a {
        font-size: 20px;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.menu {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(9px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-9px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }

    .cart-list-container {
      width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .about h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .about h2 {
        font-size: 18px;
    }
}
